<div class="row bg-white">
  <div class="col-12"> 
    <br>
    About <%= @search_count %> results for <%= params[:search] %> 
    <br><hr>
    <div class="search-result">
      <% @customers.each do |customer| %>
        <%= link_to customer.name + " - customer", customer %> <br>
        <li><%= "Address: " + customer.address %></li>
        <li><%= "Email: " + customer.email %></li>        
      <% end %>
      
      <% @products.each do |product| %>
        <%= link_to product.name + " - cake", product %> <br>
        <li>Description: <%= product.description %></li>
        <li>"Sizes: "
        <% product.sizes.each do |size| %>
          <%= size.label + ": " + size.price.to_s %>
        <% end %>
        </li>
      <% end %>
      
    </div>
  </div>
</div>
