

<div class="row my-row">
  <div class='col-sm-12 my-container'> 
    <p id="notice"><%= notice %></p>

    <h1>Products</h1>

    <table id="myTable" class="tablesorter">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Category</th>
          <th>Sizes</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= image_tag validate_image(product.image) %></td>
            <td class="number-align"><%= link_to product.name, product %></td>
            <td class="number-align"><%= link_to product.category.name, product.category %></td>
            <td class="number-align">
              <table class="size-table center">
                <% product.sizes.order("price").each do |size| %>
                  <tr>
                    <td><%= size.label %></td>
                    <td>₱ <%= size.price.round(2) %></td>
                    <td><%= link_to "remove", size, method: :delete, data: { confirm: 'Are you sure?' }  %></td>
                  </tr>
                <% end %>
              </table><br>
            </td>
            <td><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Product', new_product_path, class: 'btn btn-primary' %>    
    
  </div>
</div>