
<div class="row my-row">
  <div class='col-sm-12 my-container'> 
      
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Theme:</strong>
      <%= @custom_cake_order.theme %>
    </p>

    <p>
      <strong>Size:</strong>
      <%= @custom_cake_order.size %>
    </p>

    <p>
      <strong>Flavor:</strong>
      <%= @custom_cake_order.flavor %>
    </p>

    <p>
      <strong>Color:</strong>
      <%= @custom_cake_order.color %>
    </p>

    <p>
      <strong>Shape:</strong>
      <%= @custom_cake_order.shape %>
    </p>
    
    <p>
      <strong>Customer:</strong>
      <%= @custom_cake_order.customer_id %>
    </p>

  <p>
      <strong>Quantity:</strong>
      <%= @custom_cake_order.quantity %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= @custom_cake_order.price %>
    </p>

    <p>
      <strong>Payment method:</strong>
      <%= @custom_cake_order.payment_method %>
    </p>

    <%= link_to 'Edit', edit_custom_cake_order_path(@custom_cake_order) %> |
    <%= link_to 'Back', custom_cake_orders_path %>

  </div>
</div>
